.tag {
    background: var(--tag-bg);
    color: var(--tag-font-color);
}

.tag::before {
    background: var(--bg-color-content);
    box-shadow: inset 0 1px var(--tag-shadow);
}

.tag::after {
    background: var(--bg-color-content);
    border-left: 10px solid var(--tag-bg);
}

.tag:hover {
    background-color: var(--tag-bg-hover);
    color: var(--tag-font-hover);
}

.tag:hover::after {
    border-left-color: var(--tag-bg-hover)
}

.tagSelected {
    background-color: var(--tag-bg-hover);
    color: var(--bg-color-content);
}

.tag::before {
    background: var(--bg-color-content);
    box-shadow: inset 0 1px var(--tag-shadow);
}

.tagSelected::after {
    border-left-color: var(--tag-bg-hover);
}