.tag:not(.token) {
    background:  var(--tag-bg);
    color:  var(--tag-font-color);
}

.tag:not(.token) ::before {
    background:  var(--text-color);
    box-shadow: inset 0 1px  var(--tag-shadow);
}

.tag:not(.token) ::after {
    background:  var(--bg-color-content);
    border-left: 10px solid  var(--tag-bg);
}

.tag:not(.token) :hover {
    background-color:  var(--tag-bg-hover);
    color:  var(--tag-font-hover);
}

.tag:not(.token) :hover::after {
    border-left-color:  var(--tag-bg-hover)
}

.tagSelected {
    background-color:  var(--tag-selected);
    color:  var(--bg-color-content);
}

.tag:not(.token) ::before {
    background:  var(--bg-color-content);
    box-shadow: inset 0 1px  var(--tag-shadow);
}

.tagSelected::after {
    border-left-color:  var(--tag-selected);
}