@import '../../../node_modules/@binom/sdk-core/styles/core.scss';
@import '../../../node_modules/@binom/sdk-core/styles/material-icons.scss';

.regular-border{
  border-color: dimgray !important;
}

.bn-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  z-index: 9999999999!important;
  top: 64px;
  left: 0;
  overflow: auto;
  overscroll-behavior: none;
  background-color: #111;
}



body{
  --text-color: #424242;
  --bg-color: #fff;
  --bg-color-content: #303030;
  --tag-bg:  #595959;
  --tag-font-color: #fff;
  --tag-bg-hover:  orange;
  --tag-font-hover:  #424242;
  --tag-shadow: rgba(0, 0, 0, 0.25);
  --tag-selected: orange;
}


.chip-list{
  width:90%;
  margin:10px;
}

.edit-tags-list .mdc-text-field--filled,
.edit-tags-list * :not(.tag,.mat-mdc-chip) {
  background: transparent !important;
  background-color: transparent !important;;
}
.tags:not(.token) li {
  float: left;
}

.tag:not(.token) {
  border-radius: 3px 0 0 3px;
  height: 26px;
  line-height: 26px;
  padding: 0 17px 0 17px;
  position: relative;
  width:fit-content;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  display: inline-block;
  cursor: pointer;
}


.tag:not(.token)::before {
  border-radius: 10px;
  content: '';
  height: 6px;
  left: 5px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag:not(.token)::after {
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag {
  background: var(--tag-bg);
  color: var(--tag-font-color);
}

.tag::before {
  background: var(--bg-color-content);
  box-shadow: inset 0 1px var(--tag-shadow);
}

.tag::after {
  background: var(--bg-color-content);
  border-left: 10px solid var(--tag-bg);
}

.tag:hover {
  background-color: var(--tag-bg-hover);
  color: var(--tag-font-hover);
}

.tag:hover::after {
  border-left-color: var(--tag-bg-hover)
}

.tagSelected {
  background-color: var(--tag-bg-hover);
  color: var(--bg-color-content);
}

.tag::before {
  background: var(--bg-color-content);
  box-shadow: inset 0 1px var(--tag-shadow);
}

.tagSelected::after {
  border-left-color: var(--tag-bg-hover);
}
